<footer  style="background-color:white" id="footer_background">
        <section id="section-footer" class="page-section" >
    <div id="section-footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-widgets">
                    <div class="col-md-3">
                        <div class="widget widget-about bottommargin-sm">
                            <div class="widget-text">
                                <div id="logo-ft">
                                    <a href="#" title="">
                                        <img src="assets/img/email_logo.jpg" alt="Footer Logo" class="img-fluid">
                                    </a>
                                </div>
                                <p>
                                        We make gutter protection clean & easy. Every step of the way.
                                </p>

                                <div class="social-icon">
                                        <a href="https://www.facebook.com/guttermeshonline" class="fa fa-facebook"></a>
                                         <a href="https://www.instagram.com/guttermeshonline/" class="fa fa-instagram"></a>
                                        <a href="http://guttermeshdirect.com.au/contact-us/" class="fa fa-envelope"></a>
                                       
                                </div>
                            </div>
                            <!-- <div class="widget widget-newletter bottommargin-sm">
                                <h3 class="widget-title">NEWSLETTER</h3>
                                <form id="subscribe-form" action="#" method="post" accept-charset="utf-8" data-mailchimp="true">
                                    <div id="subscribe-content">
                                        <div class="input-email">
                                            <input type="email" name="email-form" id="subscribe-email" placeholder="Email address">
                                        </div>
                                        <button type="button" id="subscribe-button" class="button-subscribe"><i class="icon-paper-plane" aria-hidden="true"></i></button>
                                    </div>
                                    <div id="subscribe-msg"></div>
                                </form>
                            </div> -->
                        </div><!-- /.widget-about -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-6 bottommargin-sm">
                        <!-- <div class="widget widget_nav_menu"> -->
                            <h3 class="widget-title">Navigation</h3>
                            <div style="display:flex;">
                            <div class="link1 w-50">
                                <ul style="display:inline-grid;" class="menu-footer">
                                    <li><a href="http://3.128.61.117/products/" title=""><i class="icon-angle-double-right"></i> Products</a></li>
                                    <li><a href="http://3.128.61.117/gallery/" title=""><i class="icon-angle-double-right"></i> Gallery</a></li>
                                    <li><a href="http://3.128.61.117/installation-instructions/" title=""><i class="icon-angle-double-right"></i> Installation</a></li>
                                    <li><a href="http://3.128.61.117/faq/" title=""><i class="icon-angle-double-right"></i> FAQ's</a></li>
                                    <li><a href="http://3.128.61.117/contact-us/" title=""><i class="icon-angle-double-right"></i> Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="link2 w-50">
                                <ul style="display:inline-grid;" class="menu-footer">
                                    <li><a href="http://3.128.61.117/privacy-policy/" title=""><i class="icon-angle-double-right"></i> Privacy Policy</a></li>
                                    <li><a href="http://3.128.61.117/shipping-returns/" title=""><i class="icon-angle-double-right"></i> Shipping & Returns</a></li>
                                    <li><a href="http://3.128.61.117/terms-conditions/" title=""><i class="icon-angle-double-right"></i> Terms and Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                           
                            
                            <!-- /.one-half -->
                            <!--<ul class="menu-footer one-half">
                                <li><a href="#" title=""><i class="icon-angle-double-right"></i> FAQ</a></li>
                                <li><a href="#" title=""><i class="icon-angle-double-right"></i> Chart</a></li>
                                <li><a href="#" title=""><i class="icon-angle-double-right"></i> Term</a></li>
                                <li><a href="#" title=""><i class="icon-angle-double-right"></i> Legal</a></li>
                                <li><a href="#" title=""><i class="icon-angle-double-right"></i> Pivacy</a></li>
                                <li><a href="#" title=""><i class="icon-angle-double-right"></i> Partners</a></li>
                            </ul>--><!-- /.one-half -->
                            <!-- <div class="clearfix"></div> -->
                        <!-- /.widget_nav_menu /div>-->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-3">
                            <div class="widget widget-newletter bottommargin-sm">
                                    <h3 class="widget-title">Newsletter</h3>
                                            <form action="">
                                                <div class="text-right"> <span class="text-danger"> * </span> indicates required</div>
                                              <div class="form-group">
                                                <label for="email">Email:</label>
                                                <input type="email" class="form-control" id="email" placeholder="" name="email">
                                              </div>
                                              <div class="form-group">
                                                <label for="pwd">password : <span class="text-danger"> *</span> </label>
                                                <input type="password" class="form-control" id="pwd" placeholder="" name="pswd">
                                              </div>
                                             
                                              <button type="submit" class="btn btn-default sub">Subscribe</button>
                                            </form>
                                </div>
                    </div><!-- /.col-md-4 -->
                </div><!-- /.footer-widgets -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--<ul class="menu-ft-bottom">
                        <li>
                            <a href="index.html" title="">Home</a>
                        </li>
                        <li>
                            <a href="about.html" title="">About</a>
                        </li>
                        <li>
                            <a href="services.html" title="">Service</a>
                        </li>
                        <li>
                            <a href="#" title="">Page</a>
                        </li>
                        <li>
                            <a href="blog.html" title="">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html" title="">Contact</a>
                        </li>
                    </ul>-->
                    <!-- <div class="copyright">
                        <p>© Copyright <a href="#" title="">7GXchange</a> All Rights Reserved. 2019</p>
                    </div> -->
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->	
</section>
</footer>

<form id="form1">
    <div>


        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                <!-- <div class="col-xs-12"> -->
                <div class="col-6 text-left mt-3">
                        &#x24B8; 2020 ALL RIGHTS RESERVED 
                </div>
                <div class="col-6 text-right mt-3">
                   DESIGN BY BGMG
                </div>
            <!-- </div> -->
            </div>
            </div>
        </div>
        <!-- <div id="footer">
            <div class="container">
                <div class="copyright">
                    <br />
    We proudly back our product with exceptional customer service. <br />No question is too complex, and no issue is too difficult – we’re always here to help with your requirements	
                    <hr style="color:#fff; border:1px solid #fff;" /><br />
        &copy; Copyright <strong>Guttermeshonline</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="#">Guttermeshonline</a>
                </div>
            </div>
        </div> -->
        <!-- #footer -->
    </div>

</form>

<script  type="text/javascript">
    var url = window.location.pathname;
    var filename = url.substring(url.lastIndexOf('/') + 1);
    var element = document.getElementsByName(filename);
    element[0].classList.add("active");
</script>

<script src="assets/lib/jquery/jquery.min.js"></script>
<script src="assets/lib/jquery/jquery-migrate.min.js"></script>
<script src="assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/lib/easing/easing.min.js"></script>
<script src="assets/lib/mobile-nav/mobile-nav.js"></script>
<script src="assets/lib/wow/wow.min.js"></script>
<script src="assets/lib/waypoints/waypoints.min.js"></script>
<script src="assets/lib/counterup/counterup.min.js"></script>
<script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="assets/lib/isotope/isotope.pkgd.min.js"></script>
<script src="assets/lib/lightbox/js/lightbox.min.js"></script>
<script src="assets/js/main.js"></script>

<script type="text/javascript">
      $(document).ready(function () {
          $('.btnContact').on('click', function () {
              $(".mobile-nav-toggle").click();
              $('#myModalInfo').modal('show');
          });
      });
</script>