<div id="header" class="fixed-top">
    <div class="container-fluid fixed-top-first">
        <div class="row">
            <div class="col-6 text-left">
                <span class="production"> <i class="fas fa-phone-volume phone"></i>1300 680 833</span>

            </div>
            <div class="col-6 text-right">
                <span class="production">GUARANTEED GUTTER PROTECTION</span>

            </div>
        </div>
    </div>
        <!-- <div style="padding:35px 0px !important"> -->
    <div style="background-color: #f4f4f4" class="container-fluid">
            <nav  class="navbar navbar-dark navbar-expand-sm">
                    <a class="navbar-brand" href="#">
                      <img src="assets/img/email_logo.jpg" class="img-fluid logo" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-list-2">
                      <ul id="nav" class="navbar-nav ml-auto">
                        <li id="test" class="nav-item first active">
                          <a class="nav-link" href="https://guttermeshdirect.com.au/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://guttermeshdirect.com.au/products/">Products</a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://guttermeshdirect.com.au/faq/">FAQ</a>
                    </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://guttermeshdirect.com.au/contact-us/">Contact us</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
</div>